<h1> Edit Dream </h1>

<%= form_for @dream do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.label :reflections %>
    <%= f.text_field :reflections %>
  </div>
  <div>
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>

  <%= f.submit "Edit Dream" %>
<% end %>