
<h1><%= @dream.name %></h1>
<p>Description: <%= @dream.description %></p>
<p>Reflections: <%= @dream.reflections %></p>
<p>Emotion: <%= @dream.feeling.emotion %></p>
<p>Date: <%= @dream.date %></p>


<%= link_to "Edit", edit_dream_path(@dream) %>

<%= link_to "Delete", dream_path(@dream), method: :delete %>