

<div class= "container" style="width:50%">
<div class="text-center">
<br>
 <i class="fas fa-sign-in-alt"></i>
  <h3>Log In</h3>
</div>
 
    <%= form_for(@user, url: '/login') do |f|%>

  <div class="m-3">
    <%= f.label :email, class:"form-label"%>
    <br>
    <%= f.email_field :email, class:"form-control" %>
  </div>
  <div class="m-3">
  <%= f.label :password, class:"form-label" %>
  <br>
    <%= f.password_field :password, class:"form-control" %>
  </div>

  <%= f.submit "Log In", class:"btn btn-primary ms-3"%>
</div>
<% end %>
  
  <div class="text-center text-muted">
    &copy;  Joseph Journal 2021
  </div>


