<!DOCTYPE html>
<html>
  <head>
    <title>Dreamjournal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- CSS only -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  </head>

  <body class= "container-fluid" >
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
   <a class="navbar-brand" href="#">Joseph Journal</a>
  <ul>
  <% if logged_in %>
  <li><%= link_to("Home", root_path)%></li>
  <li><%= link_to("Logout", logout_path, method: :delete) %></li>
  <li><%= link_to("Dream Journals", dream_journals_path)%></li>
  <% else %>
  <li><%= link_to("Signup", signup_path) %></li>
  <li><%= link_to "Log in with Google", '/auth/google_oauth2', method: :post%> </li>
  <li><%= link_to("Login", login_path) %></li>
  <% end %>

  
  
  
 
 
  
  </ul>
  </div>
  </nav>
  <div><%= flash[:message] %></div>
    <%= yield %>
  </body>
</html>
